body {
    margin: 0;
    font-family: Arial;
}

header {
    background: orange;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #ddd;
    padding: 20px;
}

.sidebar a {
    display: block;
    margin: 10px 0;
}

.content {
    padding: 20px;
}

/* BOOKS */
.book-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.book-card {
    width: 200px;
    text-align: center;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 10px;
    transition: transform 0.5s;
}

.book-card img {
    width: 100%;
    height: 200px;
}

/* Hover Animation */
.book-card:hover {
    transform: scale(1.1);
}

/* PAGE ANIMATIONS */
.fade-down {
    animation: fadeDown 1s;
}

.slide-left {
    animation: slideLeft 1s;
}

.zoom-in {
    animation: zoomIn 1s;
}

.bounce-in {
    animation: bounce 1s;
}

.flip {
    animation: flip 1s;
}

/* KEYFRAMES */
@keyframes fadeDown {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; }
}

@keyframes slideLeft {
    from { transform: translateX(-50px); }
    to { transform: translateX(0); }
}

@keyframes zoomIn {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
}

@keyframes bounce {
    0% { transform: scale(0.5); }
    100% { transform: scale(1); }
}

@keyframes flip {
    from { transform: rotateY(90deg); }
    to { transform: rotateY(0); }
}

/* COMMON AUTH BOX */
.auth-box {
    width: 300px;
    margin: 100px auto;
    padding: 25px;
    background: #f5f5f5;
    text-align: center;
    border-radius: 10px;
}

/* LOGIN ANIMATION */
.login-anim {
    animation: loginSlide 1s ease forwards;
}

@keyframes loginSlide {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* REGISTER ANIMATION */
.register-anim {
    animation: registerZoom 1s ease forwards;
}

@keyframes registerZoom {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* INPUT + BUTTON FEEL */
input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background: orange;
    border: none;
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}
